.l-container {
   position: absolute;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   top: 3px;
}


input[type="radio"] {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
}

input[type="radio"] + span {

font-weight: 100;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #ffffff;
    border-radius: 2px 20px 20px 2px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    display: inline-block;
}

span {
	    padding-left: 8px;
    line-height: 1.8;
	width: 90px;
	cursor: pointer;
}
input[type="radio"]:checked + span {
	color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 200;
}

input[type="radio"]:focus + span {
	color: #fff;
}

label {
	display: block;
}